body {
  font-family: sans-serif;
  background: #a2d4f8;
  color: #f08036;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* info bar on the top */
#top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
  gap: 20px;
}

#top div {
  margin: 0 10px;
  font-size: 15px;
}

/* Game area with board */
#game {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

canvas {
  border: 2px solid #555;
  background: #222;
  cursor: pointer;
}

/* Canvas sizes */
#leftPool,
#rightPool {
  width: 140px;
  height: 600px;
}

#board {
  width: 500px;
  height: 600px;
}

/* START GAME BUTTON  */
#startBtn {
  background-color: #db6a07;
  color: white;
  border: none;
  padding: 8px 18px;
  margin-top: 8px;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 600;
}

#startBtn:hover:not(:disabled) {
  background-color: #f67f16;    
}

#startBtn:disabled {
  background-color: #f67f16;   
  cursor: default;
}

/* MESSAGE TEXT */
#message {
  font-size: 14px;
  color: #f58829;
  margin-bottom: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
}
